<% content = sanitize post.content %>
<div class="post shadow">
  <h2><%= link_to post.title, post.permalink %></h2>
  <small class="muted"><%= post.created_at.strftime("%B %d, %Y") %></small>&nbsp;&nbsp;
  <%= link_to 'Show', post.permalink %>
  <% if current_user %>
    &middot; <%= link_to 'Edit', edit_post_path(post) %> &middot;
    <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <p><%= truncate(content, length: BLOG['characters_per_post_preview']) %></p>
</div><br />
