<% provide(:title, @post.title) %>
<div class="post shadow">
  <h1><%= @post.title %></h1>
  <small class="muted"><%= @post.created_at.strftime("%B %d, %Y") %></small><br /><br />
  <p><%= sanitize @post.content %></p>
</div>
<br />
<div class="form-actions">
  <%= link_to 'Back', posts_path, class: 'btn' %>
  <div class="pull-right">
    <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' %>
    <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
</div>


