<% provide(:title, @post.title) %>
<%= link_to 'Back', posts_path, class: 'btn' %>
<% if current_user %>
  <div class="pull-right">
    <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' %>
    <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
<% end %>
<br /><br />
<div class="post shadow">
  <h1><%= @post.title %></h1>
  <small class="muted"><%= @post.created_at.strftime("%B %d, %Y") %></small><br /><br />
  <p><%= sanitize @post.content %></p>
</div>
<hr />
<div class="row-fluid">
  <div class="span7">
    <div class="comments">
      <h3>Comments</h3>
      <% if @post.number_of_approved_comments > 0 || current_user %>
        <%= render partial: @post.comments %>
      <% else %>
        There are no comments on this post yet.
      <% end %>
    </div>
  </div>
  <div class="span5">
    <h3>Add new comment</h3>
    <%= render 'comments/form' %>
  </div>
</div>


