<!DOCTYPE html>
<html>
<head>
  <title><%= BLOG['title'] %> &middot; <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="top hidden-phone hidden-tablet"></div>
  <div class="container">
    <div class="row-fluid">
      <div class="span2 hidden-phone"></div>
      <div class="span8">
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name %>">
            <a class="close" data-dismiss="alert">&#215;</a>
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div><br />
  <% if BLOG['show_parameters'] == true %>
     <%= render 'layouts/parameters' %><br /><br />
  <% end %>
  <%= render 'layouts/footer' %>


</body>
</html>
